Repository Deepractice/AgentVM: changes, and which lefthook commands are due for each by the changed paths.
All: format-fix, lint-fix

format-fix:
  run: bun prettier --write {staged_files} && git add {staged_files}

lint-fix:
  run: bun eslint --fix {staged_files} && git add {staged_files}

feat(desktop): add Sessions UI and AgentX hooks
  apps/desktop/package.json
  apps/desktop/src/components/shared/TenantSwitcher.tsx
  apps/desktop/src/hooks/agentx/conversationReducer.ts
  apps/desktop/src/hooks/agentx/index.ts
  apps/desktop/src/hooks/agentx/types.ts
  apps/desktop/src/hooks/agentx/useAgent.ts
  apps/desktop/src/hooks/agentx/useAgentX.ts
  apps/desktop/src/hooks/agentx/useImages.ts
  apps/desktop/src/locales/en/common.json
  apps/desktop/src/locales/zh-CN/common.json
  apps/desktop/src/pages/Agents.tsx
  apps/desktop/src/pages/Sessions/ChatArea.tsx
  apps/desktop/src/pages/Sessions/SessionList.tsx
  apps/desktop/src/pages/Sessions/index.tsx
  bun.lock
  issues/004-desktop-ui-design-system.md
Due: format-fix, lint-fix

feat: add Resource Center (Registry) and RPC-style API
  bdd/features/registry.feature
  bdd/steps/common.steps.ts
  bdd/steps/registry.steps.ts
  bdd/steps/tenant.steps.ts
  issues/003-tenant-management.md
  issues/005-resource-center.md
  packages/avm/src/client/index.ts
  packages/avm/src/context.ts
  packages/avm/src/http/index.ts
  packages/avm/src/http/registry.ts
  packages/avm/src/http/tenants.ts
  packages/avm/src/index.ts
  packages/avm/src/registry/LocalResourceRepository.ts
  packages/avm/src/registry/index.ts
  packages/core/src/commands/index.ts
  packages/core/src/index.ts
  packages/core/src/resource/ResourceRepository.ts
  packages/core/src/resource/commands.ts
  packages/core/src/resource/index.ts
  packages/core/src/resource/types.ts
  packages/core/src/tenant/commands.ts
Due: format-fix, lint-fix

feat: add Resources page and resource-types package
  apps/desktop/src/App.tsx
  apps/desktop/src/components/layout/ActivityBar.tsx
  apps/desktop/src/hooks/useResources.ts
  apps/desktop/src/locales/en/common.json
  apps/desktop/src/locales/zh-CN/common.json
  apps/desktop/src/pages/Resources/ResourceCard.tsx
  apps/desktop/src/pages/Resources/index.tsx
  apps/desktop/src/stores/app.ts
  bun.lock
  packages/resource-types/package.json
  packages/resource-types/src/index.ts
  packages/resource-types/src/prompt.ts
  packages/resource-types/tsconfig.json
Due: format-fix, lint-fix

feat(desktop): add resource management views and file system APIs
  apps/desktop/electron/main.ts
  apps/desktop/electron/preload.ts
  apps/desktop/src/components/resources/LinkResourceModal.tsx
  apps/desktop/src/locales/en/common.json
  apps/desktop/src/locales/zh-CN/common.json
  apps/desktop/src/pages/Resources/LocalView.tsx
  apps/desktop/src/pages/Resources/MarketView.tsx
  apps/desktop/src/pages/Resources/PublishView.tsx
  apps/desktop/src/pages/Resources/ResourceNav.tsx
  apps/desktop/src/pages/Resources/index.tsx
  apps/desktop/src/styles/globals.css
  apps/desktop/src/types/electron.d.ts
  apps/desktop/src/utils/resourceFolder.ts
  bun.lock
  packages/resource-types/package.json
Due: format-fix, lint-fix

refactor: replace commands pattern with schemas, use ResourceX directly
  CLAUDE.md
  apps/desktop/package.json
  apps/desktop/src/components/resources/LinkResourceModal.tsx
  apps/desktop/src/hooks/useResources.ts
  apps/desktop/src/locales/en/common.json
  apps/desktop/src/locales/zh-CN/common.json
  apps/desktop/src/utils/resourceFolder.ts
  bun.lock
  issues/000-unified-development-mode.md
  package.json
  packages/avm/package.json
  packages/avm/src/client/index.ts
  packages/avm/src/context.ts
  packages/avm/src/http/errors.ts
  packages/avm/src/http/index.ts
  packages/avm/src/http/registry.ts
  packages/avm/src/http/tenants.ts
  packages/avm/src/index.ts
  packages/avm/src/registry/LocalResourceRepository.ts
  packages/avm/src/registry/index.ts
  packages/core/src/commands/define.ts
  packages/core/src/commands/index.ts
  packages/core/src/index.ts
  packages/core/src/resource/ResourceRepository.ts
  packages/core/src/resource/commands.ts
  packages/core/src/resource/index.ts
  packages/core/src/resource/schemas.ts
  packages/core/src/resource/types.ts
  packages/core/src/schemas/index.ts
  packages/core/src/tenant/commands.ts
  packages/core/src/tenant/index.ts
  packages/core/src/tenant/schemas.ts
  packages/resource-types/src/prompt.ts
Due: format-fix, lint-fix

feat(desktop): add drag-region support and implement search API
  apps/desktop/src/components/resources/LinkResourceModal.tsx
  apps/desktop/src/hooks/useResources.ts
  apps/desktop/src/locales/en/common.json
  apps/desktop/src/locales/zh-CN/common.json
  apps/desktop/src/pages/Agents.tsx
  apps/desktop/src/pages/Resources/LocalView.tsx
  apps/desktop/src/pages/Resources/ResourceNav.tsx
  apps/desktop/src/pages/Sessions/ChatArea.tsx
  apps/desktop/src/pages/Sessions/SessionList.tsx
  apps/desktop/src/pages/Sessions/index.tsx
  apps/desktop/src/pages/Settings.tsx
  bun.lock
  issues/007-resource-search-api.md
  package.json
  packages/avm/src/client/index.ts
  packages/avm/src/http/registry.ts
  packages/core/src/index.ts
  packages/core/src/resource/index.ts
  packages/core/src/resource/schemas.ts
Due: format-fix, lint-fix

feat: implement resource detail page with resolve functionality
  apps/desktop/src/hooks/useResources.ts
  apps/desktop/src/locales/en/common.json
  apps/desktop/src/locales/zh-CN/common.json
  apps/desktop/src/pages/Resources/LocalView.tsx
  apps/desktop/src/pages/Resources/ResourceDetail.tsx
  apps/desktop/src/pages/Resources/index.tsx
  bun.lock
  issues/008-resourcex-resolver-redesign.md
  issues/009-resourcex-typehandler-bug-and-refactor.md
  package.json
  packages/avm/package.json
  packages/avm/src/client/index.ts
  packages/avm/src/http/registry.ts
  packages/core/src/index.ts
  packages/core/src/resource/index.ts
  packages/core/src/resource/schemas.ts
  packages/resource-types/src/prompt.ts
Due: format-fix, lint-fix

style: apply Claude-inspired design system and unify UI
  apps/desktop/src/components/layout/ActivityBar.tsx
  apps/desktop/src/components/resources/LinkResourceModal.tsx
  apps/desktop/src/components/settings/DesignSystemPreview.tsx
  apps/desktop/src/pages/Agents.tsx
  apps/desktop/src/pages/Resources/LocalView.tsx
  apps/desktop/src/pages/Resources/MarketView.tsx
  apps/desktop/src/pages/Resources/PublishView.tsx
  apps/desktop/src/pages/Resources/ResourceDetail.tsx
  apps/desktop/src/pages/Resources/ResourceNav.tsx
  apps/desktop/src/pages/Sessions/ChatArea.tsx
  apps/desktop/src/pages/Sessions/SessionList.tsx
  apps/desktop/src/pages/Settings.tsx
  apps/desktop/src/styles/globals.css
Due: none

feat: add resource deletion functionality and update localization strings
  apps/desktop/src/locales/en/common.json
  apps/desktop/src/locales/zh-CN/common.json
  apps/desktop/src/pages/Resources/ResourceDetail.tsx
  bun.lock
  package.json
Due: format-fix

Path conditions:
  format-fix: any of: *.{js,ts,json,md,yml,yaml}
  lint-fix: any of: *.{js,ts}
